body {
	padding:0;
	margin:0;
	background:#9D957E;
	font:64.9%/1.85em Helvetica,Arial,sans-serif;
}

#top {
	background:#361E12;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(54,30,18)),
		color-stop(0.55, rgb(75,44,23))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(54,30,18) 0%,
		rgb(75,44,23) 55%
	);
}

#top h1 {
	margin:0;
	color:white;
	font:3em KavalerKursive,sans-serif;
	float:left;
	padding:1em 0;
}

#top h1 a {
	text-decoration:none;
	color:white;
}

#top h1 a:hover {
	font-style:italic;
}

#top #nav {
	margin:0;
	margin-left:4.5em;
	list-style:none;
	padding:2.5em 0;
	float:left;
}

#top #nav li {
	display:inline;
	float:left;
}

#top #nav li a {
	display:block;
	float:left;
	color:white;
	font-size:1.4em;
	text-decoration:none;
	padding:0.5em 0.7em;
	margin:0.6em;
	border:1px transparent solid;
	text-align:center;
}

#top #nav li a:hover, #top #nav li.active a {
	background: #4C3E33;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border:1px #333 solid;
	border-radius: 3px;
}

#top .gutter, #footer .gutter {
	width: 960px;
	margin: auto;
}

#wrapper { 
	width: 960px;
	margin: 25px auto;
	border:1px #666 solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size:1.15em;
	background: #c2c2c2;
}

#wrapper h2 { 
	margin-top:0;
	font-size:1.6em;
	letter-spacing:-1px;
}

#wrapper h3 {
	margin-top:0;
}

#content {
	float:left;
	width:59%;
}

#sidebar {
	float:right;
	width:30%;
}

#wrapper .gutter {
	padding:25px;
}

#footer {
	background:#b1b1b1;
	padding:15px;
	font-size:1.4em;
}

#footer .gutter {
	text-align:center;
	color:#727272;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
dl {
	margin-bottom: 10px;
}
dl.bioinfo {
		margin-left: 75px;
}
dl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	dl.bioinfo dt {
		float: left;
	}
	dl.bioinfo dd {
			margin-left: 160px;
	}
	dl.bioinfo dt {
		font-weight: bold;
	}

img.bioicon {
	position: relative;
	top: 0.4em;
	width: 57px;
	overflow: hidden;
	border: 4px solid #e0e0e0;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}